@mixin button-base{
	font-weight: 700;
	outline: none;
	cursor: pointer;
	user-select: none;
	
	height: $button-height;
	border: 2px solid transparent;
	padding: 8px spacing(medium);

	&:disabled{
		opacity: 0.4;
		cursor: normal;
		pointer-events: none;
	}
}

@mixin button($text-color: white, $bg-color: palette(brand), $bg-hover: palette(brand,dark), $text-hover: white){
	@include button-base;

	position: relative;
	display: inline-block;
	border-radius: $default-border-radius;
	font-size: fontsize(100);

	background-color: $bg-color;
	color: $text-color;

	&:hover{
		background-color: $bg-hover;
		color: $text-hover;
	}

	&:focus{
		outline: none;
		border-color: palette(contrast,dark);
	}
	
}

@mixin text-button($text-color: white, $text-hover: white, $font-size:100){
	@include button-base;
	
	font-size: fontsize($font-size);
	background-color: transparent;
	color: $text-color;

	&:hover, &:focus{
		color: $text-hover;
	}
}

@mixin icon-button($text-color: white, $text-hover: white, $font-size:15px){
	@include button-base;
	
	padding: 2px;
	font-size: $font-size;
	background-color: transparent;
	color: $text-color;

	&:hover, &:focus{
		color: $text-hover;
	}
}
	.o-icon-button--sort{
		@include icon-button(palette(grey,dark),black,50);
		
		.s-sort-asc &{
			transform: rotate(180deg);
		}
	}

.o-button--icon_large{
  font-size: 20px;
  color: palette(grey,dark);
  cursor: pointer;
  padding: spacing(small);

  &:hover{
    color: palette(brand);
  }
}


.o-button{
	@include button();
}

.o-button--contrast{
	@include button(white, palette(contrast), palette(contrast,dark));
}

.o-button--light{
	@include button(palette(contrast), white, palette(contrast));
}

.o-button_error{
	@include button(white, palette(error), palette(error,dark));
}

.o-button_affirmative{
	@include button(white, palette(affirmative), palette(affirmative,dark));
}

.o-button--outline{
	@include button(palette(brand), transparent, palette(brand), white);
	border-color: palette(brand);
}

.o-button--outline_grey{
	@include button(palette(grey,dark), transparent, palette(brand), white);
	border-color: palette(grey,dark);
}

.o-button--outline_white{
	@include button(white, transparent, white, palette(brand));
	border-color: white;
}

.o-text-button{
	@include text-button(palette(brand),palette(brand,dark),50);
}

.o-text-button_white{
	@include text-button(white,palette(brand),50);
}

.o-text-button--large{
	@include text-button(palette(brand),palette(brand,dark));
}

.o-text-button--large_white{
	@include text-button(white,palette(brand));
}