.c-event-list{
	padding: spacing(large) 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}

	.o-event-tile, [class^="o-event-tile_"]{
		border-radius: $default-border-radius;
		box-shadow: $ritchie-shadow;
		background-color: palette(grey,light);
		padding: spacing(medium);
		width: 18%;
		min-width: 200px;
		height: 160px;
		position: relative;
		margin-right: 2%;
		margin-bottom: spacing(medium);
		cursor: pointer;

		&:hover{
			background-color: palette(grey,dark);
			color: white;

			.o-event-tile--delete{
				display: block;
			}
			.o-event-tile--footer{
				display: none;
			}
		}
	}

		.o-event-tile_add{
			background-color: transparent;
			border: 3px solid palette(brand);
			box-shadow: none;

			text-align: center;
			color: palette(brand);
		}
		
		.o-event-tile--name{
			//margin-bottom: spacing(xx-small);
		}

		.o-event-tile--ring{
			color: palette(brand);
			margin-bottom: spacing(x-small);
		}

		.o-event-tile--footer{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: spacing(medium);
		}

		.o-event-tile--delete{
			position: absolute;
			bottom: spacing(medium);
			right: spacing(medium);
			display: none;
		}