.l-wrapper{
	max-width: 800px;
	margin: 40px auto;
}

.l-small-centered{
	max-width: 600px;
	margin: 0 auto;
}

.l-full-width{
	display: block;
	width: 100%;
}

.l-abs-right{
	position: absolute;
	right: 0;
	top: 0;
}

.l-abs-left{
	position: absolute;
	left: 0;
	top: 0;
}

.l-abs-center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

	text-align: center;
}

.l-input-inline_med{
	display: inline-block;
	width: 200px;
}