.l-wrapper{
	max-width: 800px;
	margin: 40px auto;
}

.l-full-width{
	display: block;
	width: 100%;
}

.l-abs-right{
	position: absolute;
	right: 0;
	top: 0;
}

.l-abs-left{
	position: absolute;
	left: 0;
	top: 0;
}