.c-list-grid{

	&:empty{
		text-align: center;
		&:after{
			content: 'No results found';
			@extend .t-empty;
		}
	}
}

	.c-list-grid--header{
		@include smalllabel;
		margin-bottom: spacing(x-small);
		overflow: hidden;

		&.s-fixed{
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			max-width: 1160px;
			padding: spacing(x-small) spacing(small);
			margin: 0 auto;
			box-shadow: $ritchie-shadow;
			background-color: white;
			z-index: 100;
		}

		&>div{
			@include ellipsize;
			position: relative;

			&>button{
				position: absolute;
				right: 0;
				background-color: white;
			}
		}
	}

	.c-list-grid--item{
		padding: 5px spacing(medium);
		overflow: hidden;
		cursor: pointer;
		line-height: $input-height;
		position: relative;

		&:nth-child(odd){
			background-color: palette(grey,x-light);
		}

		&.s-group-start, &.s-group-end, &.s-group{
			&:before{
				content: "";
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				width: 7px;
				background-color: palette(grey);
			}
		}

		&.s-group-start:before{
			border-radius: $default-border-radius 0 0 0;
			top: 1px;
		}

		&.s-group-end:before{
			border-radius: 0 0 0 $default-border-radius;
			bottom: 1px;
		}
	}

		.c-list-grid--item-details{
			padding: spacing(small);
			
			label{
				display: block;
				margin-bottom: spacing(x-small);
				border-bottom: $default-border;
			}

		}