.c-modal{
	position: fixed;
	top: 100vh;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	padding: 20px 0;
	z-index: 9999;

	background-color: rgba(black,0.8);

	transition: $transition;

	overflow-y: auto;

	&.s-visible{
		top: 0;
	}

}

	

	.c-modal--content, [class^="c-modal--content_"]{
		width: 600px;
		margin: 0 auto;
		position: relative;
		top: calc(50% + 20px);
		transform: translateY(-50%);
		max-height: 100%;
		
		//background-color: white;
		box-shadow: $ritchie-shadow;
	}
		.c-modal--content_small{
			width: 400px;
		}

		.c-modal--content_large{
			width: 800px;
		}

		.c-modal--body{
			padding: spacing(large);	
			flex: auto;
			background-color: white;
			border-radius: $default-border-radius $default-border-radius 0 0;

		}

		.c-modal--error{
			background-color: palette(error);
			color: white;
			padding: spacing(x-small) spacing(medium);
		}

		.c-modal--footer{
			flex: 75px;
			padding: spacing(small) spacing(large);
			background-color: palette(grey,light);
			border-radius: 0 0 $default-border-radius $default-border-radius;
		}

		.c-modal--sub-box{
			background-color: palette(grey,light);
			padding: spacing(medium);
		}
		
		.c-modal--sub-box_outline{
			padding: spacing(medium);
			padding-left: 40px;
			border: $default-border;
			border-right: none;
			border-left: none;
		}


