.ritchie-tooltips{

	.tooltipster-box{
		border: none;
		background: transparent;
		padding: 0;
		margin-top: 0 !important;
	}

	.tooltipster-arrow{
		display: none;
	}

	.tooltipster-content{
		padding: 2px;
		color: initial;
		line-height: initial;
		overflow: hidden;
	}

}